.RepoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid grey;
    padding: 10px;
}
.repo-name{
    color: rgb(2, 2, 196);
    font-weight: 600;
    font-size: 1.8rem; 
}
.repo-footer{
    display: flex;
    flex-direction: row;
}