.RepoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(180, 179, 179);
    padding: 30px;
}
.repo-name{
    color: rgb(34, 75, 225);
    font-weight: 600;
    font-size: 2rem; 
}
.repo-footer{
    display: flex;
    flex-direction: row;
}